.managerButton {
    height: 100px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.begin-button {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: 3%;
    padding-right: 3%;
    height: 45px;
    border-radius: 15px;
    background-color: rgb(95, 154, 255);
    cursor: pointer;
    transition-duration: 0.3s;
}

.begin-button:hover {
    background-color: rgb(0, 93, 215);
}

.ontime-complete-button {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: 3%;
    padding-right: 3%;
    height: 45px;
    border-radius: 15px;
    background-color: rgb(255, 162, 95);
    cursor: pointer;
    transition-duration: 0.3s;
}

.ontime-complete-button:hover {
    background-color: rgb(215, 100, 0);
}

.overdue-complete-button {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: 3%;
    padding-right: 3%;
    height: 45px;
    border-radius: 15px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    transition-duration: 0.3s;
}

.overdue-complete-button:hover {
    background-color: rgb(215, 0, 0);
}


.next-button {
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.bin-bottom {
    width: 15px;
}

.bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
    transform: rotate(45deg);
}

.bin-button:hover {
    background-color: rgb(255, 0, 0);
}

.bin-button:active {
    transform: scale(0.9);
}

menu-table {
    border-collapse: separate;
    border-spacing: 10px;
}

td,
th {
    padding: 5px;
}

.input {
    padding: 4px;
    border-color: 3px solid black;
}

.tableContainer {
    background-color: #f5f5f5;
    /* Light grey background */
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
}

/* Adding more specific selectors for table and cells */
.tableContainer .nextui-table {
    border-collapse: separate;
    border-spacing: 0;
}

.tableContainer .nextui-table th,
.tableContainer .nextui-table td {
    border: 3px solid black !important;
    /* Light grey borders */
    padding: 8px;
    text-align: left;
}

.dropdown-menu {
    max-height: 300px;
    /* Adjust the height as needed */
    overflow-y: auto;
}

.nav-title {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    display: block;
    width: 100%;
}

body {
    /* Basic dimensions and centering */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    /* Dark mode colors and gradient */
    background: #121212;
    /* Fallback for browsers that don't support gradients */
    background: linear-gradient(135deg,
            #121212 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            #121212 50%,
            #121212 75%,
            #1a1a1a 75%,
            #1a1a1a);
    background-size: 40px 40px;

    /* Animation */
    animation: move 4s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 40px 40px;
    }
}

.navButton {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.navButton::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.navButton:hover::before {
    transform: translateX(0);
}

.Tableone {
    color: black;

}

.Tableone td {
    border-bottom: 1px solid rgb(184, 184, 184);
    font-size: larger;
    font-weight: 600;
}

.Tableone td {
    border-right: 1px solid rgb(184, 184, 184);
    /* Adds a black border to the right of each cell */
}

/* If you want to remove the right border from the last cell to prevent double borders */
.Tableone td:last-child {
    border-right: none;
    /* Removes the right border on the last cell */
}

.Tableone th {
    font-size: larger;
    font-weight: 600;
}

.pendingColumn {
    color: blue;
}

.inProgressColumn {
    color: orange;
}

.overdueColumn {
    color: orangered;
}

.completeColumn {
    color: green;
}

/* .Table-Row {
    border-color: black;
} */